:root{
    --white: #f9f9f9;
    --black: #1e1f23;
    --gray: #85888C;
    --blue: #001A49;
    --orange: #e6390e;
    --padding-container: 100px 0;
    --color-title: #001A49;
} 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
.menu{
    list-style: none;
    font-size: 1.1em;
}
.menu-navigation{
    background-color: var(--white);
    box-shadow: 1px 1px 5px 0px var(--gray);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    grid-column: 4/11;
}
.logo{
    display: inline-block;
    color: var(--white);
    padding: 10px 25px ;
    display: grid;
    grid-column: 1/3;
    display: inline-block;
}
.login {
    width: 30px;
    filter: brightness(0) saturate(100%) invert(11%) sepia(94%) saturate(1431%) hue-rotate(201deg) brightness(88%) contrast(110%);
    cursor: pointer;
} 
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: none;
    overflow: hidden;
}
.menu a{
    display: block;
    margin: 20px 15px ;
    color: var(--blue);
    font-weight: 500;
}
.menu a:hover{
    background-color: var(--white);
}
.nav{
    max-height: 0;
    transition: max-height .2s ease-out;
}
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}
.hamb-line {
    background: var(--blue);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
} 
.hamb-line::before, .hamb-line::after{
    background: var(--blue);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} 
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: var(--white);
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
.img-p {
    width: 100%;
    display: inline-block;
    margin-top: 60px;
    margin-bottom: 40px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  .modal-text {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    line-height: 25px;
    text-align: justify;
    padding: 5px 10px;
  }
  .modal-subtitle {
    color: var(--color-title);
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .close, .close2 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
.Focus {
    text-align: center;
    margin: 50px 80px;
}
.cta {
    cursor: pointer;
    font-size: 1.4em;
    display: inline-block;
    background-color: var(--blue);
    justify-self: center;
    color: #fff;
    text-decoration: none;
    margin: 20px;
    padding: 13px 30px;
    border-radius: 32px;
    border: none;
}

.testimony{
    background-color: rgba(187, 187, 216, 0.096);
    justify-content: center;
    padding: 50px 10px;
    margin-bottom: 20px;
}
.testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}
.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10% 10%;
}
.imgimg {
    width: 100%;
}
.testimony__texts{
    max-width: 800px;
    text-align: justify;
    line-height: 200%;
    font-size: 1.2em;
}

.testimony__course{
    color: #001A49;
    display: inline-block;
    padding: 8px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}
.about {
    text-align: center;
    margin-bottom: 30px;
}
.about_title {
    color: #001A49;
    cursor: pointer;
}
.title {
    color: var(--orange);
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 25px;
}
.subtitle {
    color: var(--color-title);
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 25px;
}
.about_paragraph {
    line-height: 1.7;
    font-size: 1.2em;
}
.about_main {
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto))
}
.about_icons {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    height: 180px;
    overflow: hidden;
    margin: 0 auto;
    border: 3px solid rgba(84, 84, 212, 0.096);
}
.about_icon {
    width: 60px;
    filter: brightness(0) saturate(100%) invert(11%) sepia(94%) saturate(1431%) hue-rotate(201deg) brightness(88%) contrast(110%);
    cursor: pointer;
}
.knowledge {
    background-color: #e5e5f7;
    background:rgba(187, 187, 216, 0.096);
    background-size: 20px 20px;
    background-position:  10px 10px;
    overflow: hidden;
    padding: 50px;
}
.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background: var(--blue) ;
}

.knowledge__picture{
    max-width: 100%;
    display: inline-block;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
    font-size: 1.7em;
}

.knowledge__img{
    width: 500px;
    display: block;
    /* clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 48%, 0% 0%); */
}
.knowledege__texts {
    
}

.knowledge__paragraph {
    font-size: 1.1em;
    color: var(--white);
}
.footer{
    background-color: #3060a2;
    padding: 20px;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
    background: #3060a2;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
}

/* Media queries */

@media (max-width:800px){
    .nav {
       background-color:  var(--white);
    }
    .nav__menu{
        display: block;
    }
    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .menu-navigation {
        position: fixed;
    }
    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }
    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    } 
    .menu a {
        border-bottom: 0.1px solid #001A49;
    }
    .logo {
        width: 180px;
        padding: 10px 5px;
        margin: 0;
    }
    .img-modal {
        width: 100%;
        display: inline-block;
      }
    .hamb {
        padding: 30px 20px;
    }
    .testimony__body {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }
    .testimony__container {
        grid-template-columns: 30px 1fr 30px;
    }
    .testimony__img {
        width: 200px;
        height: 200px;
        display: block
    }
    .knowledge__img {
       width: 300px;
       padding-left: 2px;
    }
    .knowledge {
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
    }
  
    .knowledge__picture{
        max-width: 100%;
    }
}

@import url('https://fonts.googleapis.com/css2?family-Poppins:wgth@300;400;700&display=swap');
@media (min-width: 800px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: var(--white);
        color: var(--gray);
    }
    .hamb{
        display: none;
    }
}
@media (max-width: 600px) {
    .testimony {
        --padding-container: 60px 0; 
    }
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); 
