.img-principal-movil {
    display: none;
}
h2 {
    text-align: center;
}
.center-text {
    text-align: center;
}
.map-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.map-message {
    margin: 15px;
    text-align: center;
    color: rgb(64,64,64,.9);
}
.map-pc {
    display: block;
    width: 100%;
    max-width: 700px;
    margin-left: 15px;
    margin-right: 15px;
}
.map-movil {
    display: none;
}
.section-style {
    margin-top: 30px;
}
.nosotros {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    background-color: rgb(12,12,12);
    opacity: 0.99;
    z-index: 15;
}
.titulo-nosotros {
    color: white;
}
.lista-nosotros {
    margin: 15px 40px;
    list-style: none;
    color: rgb(250,250,250);
    font-size: 1.2em;
}
.item-nosotros {
    margin: 30px 15px;
    text-align: left;
    line-height: 1.6em;
}
.style-check {
    width: 20px;
    color: white;
}
.img-nosotros {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.2;
    overflow: hidden;
    z-index: 10;
}
.horarios {
    opacity: 1;
    z-index: 20;
}
.hora-atencion {
    font-size: 1.2em;
    text-align: center;
}
.hora-formacion {
    text-align: center;
    margin-top: 20px;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    
}
th, tr, td {
    margin: 1px solid rgb(64,64,64,.9);
}
th {
    background-color: rgb(64,64,64,.9);
    color: white;
    border: 1px solid white;
}
.niveles-style {
    background-color: rgb(249,249,249);
    max-width: 1300px;
    margin: 0 auto;
}
.footer1 {
    padding-bottom: 20px;
    color: white;
    padding-left: 120px;
    padding-right: 120px;
    border-bottom: 1px solid white;
}
.footer-grid {
    display: grid;
    width: 1100px;
    grid-template: "footer-dir footer-contact footer-menu";
    margin: 0 auto;
}
.footer-dir {
    grid-area: footer-dir;
}
.footer-contact {
    grid-area: footer-contact;
    padding-left: 50px;
    border-left: 1px solid rgb(255,255,255,.3);
}
.footer-menu {
    grid-area: footer-menu;
    padding-left: 50px;
    border-left: 1px solid rgb(255,255,255,.3);
}
.titulo-footer {
    margin-bottom: 8px;
}
.menu-footer {
    list-style: none;
}
.item-footer {
    margin-top: 6px;
}
.style-link {
    color: white;
}
.style-link:hover {
    text-decoration: underline;
}
.texto-footer1 {
    line-height: 1.4em;
}
.texto-footer2 {
    margin-top: 20px;
}
.texto-contactenos 
{
    font-size: 1em;
}
.icon-style {
    color: white;
    font-size: 1.4em;
    padding: 8px;
}
.icon-copyright {
    font-size: .8em;
    vertical-align: top;
    padding-left: 2px;
}
.footer-grid {
    display: grid;
}
@media only screen and (max-width: 1300px) {
   /*  .niveles-style {
        width: 500px;
        margin: 0 auto;
    } */
    .footer-grid {
        display: grid;
        width: 430px;
        grid-template: "footer-dir"
                       "footer-contact"
                       "footer-menu";
        margin-left: 60px;
    }
    .footer-contact {
        padding-left: 0;
        border-left: 0;
    }
    .footer-menu {
        padding-left: 0;
        border-left: 0;
    }
    .footer1 {
        padding-left: 60px;
        padding-right: 60px;
        border-bottom: 1px solid white;
    }
}
@media only screen and (max-width: 600px) {
    .img-principal {
        display: none;
    }
    .img-principal-movil {
        display: block;
        width: 100%;
    }
    .map-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .map-pc {
        display: none;
    }
    .map-movil {
        display: block;
        width: 90%;
    }
    .niveles-style {
        width: 100%;
    }
    .footer1 {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid white;
    }
    .footer-grid {
        display: grid;
        width: 100%;
        grid-template: "footer-dir"
                       "footer-contact"
                       "footer-menu";
        margin: 0 auto;
    }
}